<% require 'rubygems' %>
  <% require 'dbi' %>

    <% dbh = DBI.connect('DBI:SQLite3:bookinfo_sqlite.db')%>

      <% sth = dbh.execute("select * from bookinfos;")%>

        <!DOCTYPE html>
        <html lang="ja" dir="ltr">
          <head>
            <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
            <link rel="stylesheet" type="text/css" href="default.css">
            <title>蔵書管理</title>
          </head>
          <body>
            <h1>蔵書管理</h1>
            <h2>処理メニュー</h2>
            <p>処理を選択してください
            <a href="entry.erb">蔵書データの登録</a>|
            <a href="retrieve.erb">蔵書データの検索</a>|
            <a href="index.html">メニュー画面に戻る</a>
            </p>

            <hr>
            <form action="list" method="post">
              <table>
                <tr>
                  <th>削除</th>
                  <th>修正</th>
                  <% sth.column_names.each do |name|%>
                    <th><%= "#{name}" %></th>
                  <% end %>
                </tr>
                <% sth.each do |row| %>
                  <tr>
                    <% row.each_with_name do |val,name| %>
                      <% if name == 'id' then %>
                        <td><input type="radio" name="operation" value=<%="#{val}.delete"%> /></td>
                        <td><input type="radio" name="operation" value=<%="#{val}.edit"%> /></td>
                      <% end %>
                      <td><%= "#{val.to_s}" %></td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
              <input type="submit" value="選択した処理を実行" />
              <hr>
            </form>
          </body>
        </html>

        <% sth.finish %>

          <% dbh.disconnect %>
